@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;

  /* Define theme colors */
  --color-background: #2a2739;
  --color-text: #42d744;
  --color-text-shadow: #004600;
}

#app {
  z-index: 1;
  position: relative;
}

.player {
  position: relative;
  opacity: 1;
  padding-top: 240px;
  font-family: 'Press Start 2P', 'VT323', Tahoma, Arial, sans-serif;
}

.window {
  width: 566px;
  border: 6px solid var(--color-background);
  background-color: #000;
  padding: 3px;
  box-sizing: border-box;
  outline: 1px solid #53556a;
}

.window-title {
  background-color: #2d2d44;
  background-color: var(--color-background);
  height: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -3px;
  margin-left: -3px;
  margin-right: -3px;
}

.window-content {
  background-color: var(--color-background);
  /* Gradient background color */
  background-image: linear-gradient(
    to left,
    var(--color-background) 0%,
    #383858 50%,
    var(--color-background) 100%
  );
  height: calc(100% - 18px);
  display: flex;
  box-sizing: border-box;
  margin-top: 3px;
  border: 1px solid #1a1f30;
  padding: 10px 6px 6px 6px;
  flex-direction: column;
}

.window-title::before,
.window-title::after {
  content: '';
  display: block;
  clear: both;
  /* Make absolute positioned element be 100% width of parent element **/
  width: calc(100% - 2px);
  height: 2px;
  position: absolute;
  top: 5px;
  left: 0;
  background: #f7f9e3;
  border: 1px solid #a9a759;
  box-shadow: 0 0 4px #615f38;
}

.window-title::after {
  top: 10px;
  border: 1px solid #1a1918;
  box-shadow: 0 0 4px #1e1d1b;
}

.window-title-text {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  background-color: var(--color-background);
  z-index: 1;
  padding: 0 12px;
}

.player-section {
  display: flex;
  gap: 6px;
}

.player-section-slider {
  padding: 10px 0;
}

.player-section-timer {
  background-color: black;
  height: 80px;
  width: 190px;
  box-shadow: -1px -1px 6px #4c4c75 inset;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 2px;
  justify-content: end;
  flex-direction: column;
}

.player-section-title {
  background-color: black;
  height: 25px;
  width: 100%;
  box-shadow: -1px -1px 6px #4c4c75 inset;
  padding: 6px;
  box-sizing: border-box;
  font-size: 13px;
  border-radius: 2px;
  overflow: auto;
}

.prevent-flex-child-to-overflow {
  overflow: auto;
  flex-grow: 1;
}

.player-section-playlist {
  background-color: black;
  width: 100%;
  box-shadow: -1px -1px 6px #4c4c75 inset;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 2px;
}

.player-section-title-text {
  font-size: 12px;
  text-align: right;
  color: var(--color-text);
  /* scroll text back and forth if it overflows */
  animation: scroll 10s linear infinite;
  font-weight: 300;
  text-shadow: 0 0 3px #004600;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

.player-section-timer-text {
  font-size: 14px;
  text-align: right;
  color: var(--color-text);
  font-weight: 300;
  text-shadow: 0 0 3px #004600;
}

.controls {
  display: flex;
}

.player-button {
  background: #bfced5;
  color: #0f0f0f;
  border: none;
  border-right: 2px solid black;
  padding: 5px;
  font-size: 1.5em;
  cursor: pointer;
  height: 38px;
  width: 48px;
  box-shadow: 0 0 2px #9c9ca4, 0 0 2px #9c9ca4;
  text-shadow: 0 0 2px black inset;
  position: relative;
}

.player-button:active {
  box-shadow: 0px 1px 1px black inset;
}

.player-button:last-child {
  border-right: none;
}

.misc-buttons {
  display: flex;
}

.misc-button {
  width: 100px;
  font-size: 14px;
}

.player-button-led {
  height: 10px;
  width: 12px;
  box-shadow: 1px 1px 0 #374b40 inset, -1px -1px 0 #327738 inset;
  background: #045704;
  position: absolute;
  display: inline-block;
  top: 2px;
  left: 2px;
}

.player-button-led--active {
  background: #26c11d;
  box-shadow: 1px 1px 0 #337335 inset, -1px -1px 0 #9ee69e inset,
    0 0 2px #26c423;
}

.playlist {
  padding: 0;
}

.playlist-track {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 14px;
  color: var(--color-text);
  text-shadow: 0 0 3px #004600;
}

.playlist-track-playing {
  color: white;
}

.playlist-track-track {
  display: flex;
  width: calc(100% - 85px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-track-duration {
  width: 85px;
  text-align: right;
}

.playlist-track-dash {
  padding: 0 5px;
}

/*
 __             __   ___ 
|__)  /\  |\ | / _` |__  
|  \ /~~\ | \| \__> |___ 
                         
*/

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #000000;
  border-radius: 0;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  border-radius: 0;
  cursor: pointer;
}

.player-section-slider-range::-moz-range-thumb {
  height: 16px;
  width: 43px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a08a52;
}

.player-section-slider-range::-webkit-slider-thumb {
  height: 16px;
  width: 43px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a08a52;
}

.player-section-volumetc-range::-moz-range-thumb {
  height: 12px;
  width: 24px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a8b4c3;
}

.player-section-volumetc-range::-webkit-slider-thumb {
  height: 12px;
  width: 24px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a8b4c3;
}

input[type='range']::-moz-range-track {
  width: 100%;
  cursor: pointer;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  border-bottom: none;
  border-right: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-bottom: none;
  border-right: none;
}

.player-section-slider-range::-moz-range-track {
  border: 0.2px solid #010101;
  background: #27273c;
  height: 16px;
  box-shadow: -1px -1px 1px #7d7d93 inset, 0px 0px 1px #171725 inset;
}

.player-section-slider-range::-webkit-slider-runnable-track {
  border: 0.2px solid #010101;
  background: #27273c;
  height: 16px;
  box-shadow: -1px -1px 1px #7d7d93 inset, 0px 0px 1px #171725 inset;
}

.player-section-volumetc-range {
  --background: #c60e14;
}

.player-section-volumetc-range::-moz-range-track {
  border: 0.2px solid #010101;
  background: var(--background);
  height: 12px;
  border-radius: 12px !important;
  box-shadow: -1px -1px 1px #7d7d93 inset, 0px 0px 1px #171725 inset;
}

.player-section-volumetc-range::-webkit-slider-runnable-track {
  border: 0.2px solid #010101;
  background: var(--background);
  height: 12px;
  border-radius: 12px !important;
  box-shadow: -1px -1px 1px #7d7d93 inset, 0px 0px 1px #171725 inset;
}

.balanceController {
  max-width: 100px;
}

.balanceController::-moz-range-track {
  background: #1d8d0f;
}

.balanceController::-webkit-slider-runnable-track {
  background: #1d8d0f;
}

.visualizer {
  display: flex;
  align-items: flex-end;
  height: 50px;
  justify-content: space-between;
  width: 178px;
}

.visualizer .bar {
  width: 5px;
  height: 450px;
  background-color: var(--color-text);
  margin: 0 1px;
  box-shadow: 0 0 2px var(--color-text);
  /*
  Gradient from green through orange to red from the bottom up
  but don't show the bottom 50% of the gradient
  */
  background-image: linear-gradient(
    to top,
    #1e621f 0%,
    #42d744 50%,
    #ff8000 80%,
    rgb(255, 0, 0) 100%
  );
}
